* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #121212; 
    color: #e0e0e0; 
}
.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #f0ad4e; 
}
.title2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #f0ad4e; 
}
.card {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    background-color: #1e1e1e; 
    color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.card-header {
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px;
    font-size: 24px;
}

.card-body {
    padding: 20px;
}

.select-obra, .input-comprador {
    font-size: 1.2em; 
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555; 
    border-radius: 4px; 
    background-color: #333; 
    color: #fff; 
}

.select-obra:focus {
    background-color: #444; 
    border-color: #666; 
}

.info-obra p {
    font-size: 1.1em; 
    color: #d35400; 
    font-weight: bold; 
    padding: 10px;
    background-color: #333; 
    border-radius: 5px;
    margin-top: 10px;
}

.btn-comprar {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-top: 20px;
    background-color: #6200ea; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-comprar:hover {
    background-color: #3700b3; 
}


.swal-dark-container {
    background-color: #121212; 
}

.swal-dark-popup {
    background-color: #333; 
    color: #fff; 
}

.swal-dark-title {
    color: #f0ad4e; 
}

.swal-dark-confirm-button, .swal-dark-cancel-button {
    background-color: #6200ea; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px; 
}

.swal-dark-confirm-button:hover, .swal-dark-cancel-button:hover {
    background-color: #3700b3; 
}

.swal-dark-input {
    background-color: #333; 
    color: #fff; 
    border: 1px solid #555; 
}
